<html>

  <head>
    <title> RESPONSE PAGE </title>
  </head>

  <body>
    <h3>
        Jelly Jam Pancakes - Jeremy Kwok, Jacob Guo, Prattay Dey
        <br>
        SoftDev
        <br>
        K12 -- Take and Give
        <br>
        2022-10-18
        <br>
        time spent: 1.0
      </h3>
  
  
      <h3>
        HEY {{user}}, LOOKS LIKE YOU FINALLY LEARNED HOW TO USE {{method}}!
        <br>
      </h3>
      <h3>
        GOOD ONE NUMNUTS
      </h3>
      
      <br>
      <h4>
        In case you don't know, you use "request.args" for 'get' and "request.form" for 'post'.
        <br>
        Make sure your login page and app.py correspond with each other in this feature.
      </h4>

      <br>
  </body>

</html>